config rpcapd 'general'
	option enabled '0'
    option debug '0'
    option active_mode_only '0'
    option null_authentication '0'

config rpcapd 'network'
    option ipv4_only '0'
    #option bind_address '0'
    #option bind_port '2002'
    #option active_host '2001:4860::1,2003'
    list host_list 'host1.domain'



